<h1>Editing Investigationequipment</h1>

<%= render 'form', investigationequipment: @investigationequipment %>

<%= link_to 'Show', @investigationequipment %> |
<%= link_to 'Back', investigationequipments_path %>
