<div class = "card">
    <div class = "card-title">
    <h1>New Incidentfollowup</h1>
        <div class = "body">
            <%= render 'form', incidentfollowup: @incidentfollowup %>
        </div>
    </div>
</div> 

<%= link_to 'Back', incidentfollowups_path %>
