<%= content_for :heading do %>
  Edit Subcategory
<% end %>

<div class="card">
  <div class="card-header">Subcategory</div>
  <div class="card-body">
    <%= render 'form', incidentsubcategory: @incidentcsubategory %>
  </div>
</div>
