<h1>Editing Investigationinjurylocation</h1>

<%= render 'form', investigationinjurylocation: @investigationinjurylocation %>

<%= link_to 'Show', @investigationinjurylocation %> |
<%= link_to 'Back', investigationinjurylocations_path %>
