<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @incidenstatus.status %>
</p>

<%= link_to 'Edit', edit_incidenstatus_path(@incidenstatus) %> |
<%= link_to 'Back', incidenstatuses_path %>
