<h1>Editing Investigationinjurytype</h1>

<%= render 'form', investigationinjurytype: @investigationinjurytype %>

<%= link_to 'Show', @investigationinjurytype %> |
<%= link_to 'Back', investigationinjurytypes_path %>
