<h1>Editing Investigationclassification</h1>

<%= render 'form', investigationclassification: @investigationclassification %>

<%= link_to 'Show', @investigationclassification %> |
<%= link_to 'Back', investigationclassifications_path %>
